* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;

    /* box-shadow: 0 0 1px 0 #000; */
}

header {
    background: #fff;
    z-index: 9999;
    box-shadow: 0 1px 1px 0 #00000041;
}
.fHel1 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .9rem;
}
.fHel2 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: .8rem;
    font-weight: 300;
}
.fRel {
    font-family: 'Raleway', sans-serif;
}