@media (min-width: 1200px) {

    .logo {
        height: 60px;
        margin-right: 50px;
    }
    .carousel-inner, 
    .carousel-item {
        max-height: 400px;
    }
    .navbar {
        padding: 10px 10%;
    }

}