@media (max-width: 1199px) {

    body, html {
        font-family: 'Roboto', sans-serif;
    }
    .topo,
    .slide-desk,
    .navbar-text,
    .sr-only,
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
    .voltar {
        width: 50px;
    }
    .navbar-toggler:focus{
        outline: none;
    }
    .navbar-nav {
        margin-top: 20px;
    }
    .navbar-toggler-icon {
        font-size: 1rem;
    }
    .navbar-brand {
        margin: 0;
    }
    .carousel-inner, 
    .carousel-item,
    .carousel-item img {
        max-height: 400px;
    }

    .c-prog {
        margin-top: -10px;
        background: #fff;
        position: relative;
        z-index: 1;
    }

    .tag-dia {
        background: red;
        color: #fff;
        text-align: center;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-weight: 500;
        margin-right: 10px;

    }
    .item-prog h6 {
        font-size: 18px;
        margin-top: 5px;
    }
    a.more {
        display: flex;
        justify-content: center;
        padding: 5px;
        color: #222;
        font-size: 20px;
        border-radius: 5px;
    }
    .btn-ver-todos:focus {
        color: #fff;
    }
    .item-prog {
        display: flex;
        margin-bottom: 20px;
    }
    .tag-hora::after {
        content: 'h';
    }
    .tag-loc {
        display: block;
    }
    footer {
        padding-top: 10px;
        background: #3e6a88 url('../imagens/bg-footer.jpg');
        background-repeat: no-repeat;
    }
    footer h6, 
    footer p, 
    footer a,
    footer i,
    .footer-copyright {
        color: #fff;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }
    .fa-arrow-left {
        font-size: 20px;
    }
    .logo {
        height: 60px;
    }
    .container-download {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 10px 20px;
    }
    .link-download {
        padding: 10px;
        text-decoration: none;
        color: #222;
    }
    .link-download i {
        font-size: 24px;
    }
    .back2Top {
        width: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        position: fixed;
        bottom: 30px;
        right: 10px;
        background-color: #fff;
        color: #555;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
    }
    .back2Top:hover {
        background-color: #fff7;
    }
    .carousel-item h3,
    .carousel-item p {
        color: #fff;

    }
    .carousel-control-next, 
    .carousel-control-prev {
        width: 10% !important;
    }
    .carousel-item h3 {
        text-transform: uppercase;
        animation: identifier 2s .5s forwards;
        margin-left: 0;
        font-size: 45px;
        font-weight: 900;
        opacity: 0;
        text-shadow: 1px 1px 5px #00000050;
    }
    .carousel-item p {
        margin-left: 0;
        margin-top: -10px;
        margin-bottom: 40px;
        animation: identifier 2.5s .5s forwards;
        font-size: 18px;
        font-weight: 300;
        width: 80%;
        opacity: 0;
        line-height: 1.5rem;
        text-shadow: 0px 1px 2px #464646a8;
    }
    .carousel-item a {
        text-transform: uppercase;
        margin-left: 0;
        opacity: 0;
        background: red;
        color: #fff;
        padding: 8px 15px;
        border: 0;
        animation: identifier 3.5s .5s forwards;
        box-shadow: 2px 2px 5px #00000050;
    }
    .conteudo-slide {
        width: 100%;
        position: absolute;
        top: 30%;
    }
    .conteudo-slide h3 {
        font-size: 35px;
    }
    @keyframes identifier {
        from{
            opacity: 0;
            margin-left: -20px;
        }
        to {
            opacity: 1;
            margin-left: 40px;
        }
    }
    .c-mapa {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #0000009d;
        top: 0;
        position: fixed;
        z-index: 9999;
    }
}
