@media (max-width: 1199px) {
    *{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    body, html, h6, span, i {
        color: #000;
        font-weight: 200;
    }

    .topo,
    .slide-desk,
    .navbar-text,
    .sr-only,
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
    .voltar {
        padding: 10px 10px 10px 0;
        margin-right: 10px;
    }

    h4 {
        margin: 1.5rem 0;
        font-weight: 300;
        font-size: 1.5rem;
    }


    /* NavBars  */
    header {
        background: #fff;
        z-index: 9999;
        box-shadow: 0 1px 3px 0 #00000041;
    }
    .navbar-brand {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .logo {
        height: 50px;
    }
    .sub-logo {
        margin: 0 10px;
    }
    .navbar-toggler {
        border: 0;
        padding: 0;
    }
    .navbar-toggler:focus{
        outline: none;
    }
    .navbar-toggler-icon {
        font-size: 1rem;
    }
    .navbar-nav {
        margin-top: 2rem;
    }

    /* Carousel  */
    .carousel-inner, 
    .carousel-item,
    .carousel-item img {
        max-height: 400px;
       
    }
    .carousel-item img {
        animation: identifier2 4s forwards;
    }
    .carousel-control-next, 
    .carousel-control-prev {
        width: 10% !important;
    }
    .carousel-item h3 {
        text-transform: uppercase;
        animation: identifier 1s 1.5s forwards;
        margin-left: -30px;
        font-size: 2.5rem !important;
        font-weight: 900;
        color: #fff;
        opacity: 0;
        text-shadow: 1px 1px 3px #00000050;
    }
    .carousel-item p {
        margin-top: -.8rem;
        margin-left: -30px;
        margin-bottom: 2.5rem;
        animation: identifier 1s 1.7s forwards;
        font-size: 1rem;
        font-weight: 300;
        color: #fff;
        width: 80%;
        opacity: 0;
        line-height: 1.5rem;
        text-shadow: 1px 1px 2px #00000080;
    }
    .carousel-item a {
        text-transform: uppercase;
        margin-left: -30px;
        opacity: 0;
        background: #df2b2b;
        color: #fff;
        padding: .8rem;
        border: 0;
        animation: identifier 1s 2s forwards;
        box-shadow: 1px 1px 3px #00000050;
    }
    @keyframes identifier {
        to {
            opacity: 1;
            margin-left: 0px;
        }
    }
    @keyframes identifier2 {
        to {
            filter: brightness(60%) grayscale(60%);
        }
    }
    .conteudo-slide {
        width: 100%;
        position: absolute;
        top: 30%;
    }
    .conteudo-slide h3 {
        font-size: 35px;
    }
    .conteudo-slide a {
        border-radius: 2px;
        font-size: 14px;
        font-weight: 600;
    }
    
    /* Proximos Eventos  */
    .modal-prog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
      }
      .modal-prog h2 {
        font-size: 1.2rem;
      }
    .tag-evt {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: normal;
    }
    .tag-dia {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        font-size: .7rem !important;
        height: 1.8rem;
        border-radius: .1rem;
        padding: 0 .5rem;
    }
    .tag-loc {
        display: block;
    }
    .tag-hora::after {
        content: 'hs';
    }

    .item-prog h6,
    .itens-prog h6 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    /* Rodapé  */
    footer {
        padding-top: 10px;
        background: #3e6a88 url('../imagens/bg-footer.jpg');
        background-repeat: no-repeat;
    }
    footer h6, 
    footer p, 
    footer a,
    footer i,
    .footer-copyright {
        color: #fff;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }

    /* Voltar para o topo  */
    .back2Top {
        width: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        position: fixed;
        bottom: 30px;
        right: 10px;
        background-color: #fff;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
    }
    .back2Top:hover {
        background-color: #fff7;
    }
    /* Pagina Downloads  */
    .container-download {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 10px 20px;
    }
    .link-download {
        padding: 10px;
        text-decoration: none;
    }
    .link-download i {
        font-size: 24px;
    }

}
