@media (max-width: 1199px) {
    .container-topo {
        padding: 0 20px;
    }
    .voltar {
        width: 50px;
    }
    .topo,
    .slide-desk,
    .navbar-text {
        display: none;
    }
    .navbar-nav {
        margin-top: 20px;
    }
    .navbar-toggler-icon {
        font-size: 1rem;
    }
    .carousel-inner, 
    .carousel-item {
        max-height: 400px;
    }

    .bemvindo {
        margin-top: -10px;
        padding: 20px 20px;
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .bemvindo-dia {
        background: #be0606;
        color: #fff;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: 500;
        margin-right: 10px;

    }

    .bemvindo-titulo {
        font-size: 18px;
    }
    .bemvindo a {
        color: #be0606;
        font-size: 14px;
        padding: 10px 0;
    }
    .item-programacao {
        display: flex;
        margin: 10px 0 30px;
    }
    .item-programacao-detalhes {
        margin: 5px;
    }
    .item-programacao span {
        font-size: 14px;
    }

    footer {
        padding-top: 10px;
    }
    footer h6, 
    footer p, 
    .footer-copyright {
        color: #fff;
    }
    .fa-calendar-alt,
    .fa-map-marker-alt {
        margin-right: 10px;
        color: #999;
    }
    .fa-arrow-left {
        font-size: 20px;
    }
    .logo {
        height: 40px;
    }
    .container-download {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 10px 20px;
    }
    .link-download {
        padding: 10px;
        text-decoration: none;
        color: #222;
    }
    .link-download i {
        font-size: 24px;
    }
    .back2Top {
        width: 40px;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        position: fixed;
        bottom: 30px;
        right: 10px;
        background-color: #ddddffaf;
        color: #555;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
    }
    .back2Top:hover {
        background-color: #ddddffd7;
        color: #000;
    }
    .texto-slide {
        animation: identifier 2s;
        position: absolute;
        font-size: 35px;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        font-weight: 800;
        color: #fff;
        text-shadow: 1px 1px 5px #00000075;
    }
    @keyframes identifier {
        to {opacity:1;}
        from{opacity: 0;}
    }

}
