@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media (min-width: 320px) {
    /* default  */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none !important;
        list-style: none;
        user-select: none;
        /* box-shadow: 0 0 1px 0 #000; */
    }
    a:active, a:hover {
        color: #777;
    }
    header {
        background: #fff;
        z-index: 999;
        box-shadow: 0 1px 1px 0 #00000041;
    }
    p, span, h1, h2, h3, h4, h5, h6, a {
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
        color: #000;
    }
    h1, h2, h3 {
        font-size: 1.4rem;
    }
    p {
        font-size: .9rem;
    }
    .topo, .slide-desk, .navbar-text, .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }


    
    /* Topo Header  */
    .back {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
    }
    header {
        background: #fff;
        z-index: 999;
        box-shadow: 0 1px 3px 0 #00000041;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .navbar-brand img {
        max-height: 50px;
    }
    .navbar {
        padding: .5rem 1rem;
    }
    .navbar-toggler {
        border: 0;
    }
    .navbar-toggler:focus {
        outline: none;
    }
    .navbar-toggler-icon {
        font-size: 1rem;
    }

    .nav-link {
        font-size: .9rem;
    }



    /* Carousel  */
    .carousel-inner, .carousel-item {
        max-height: 400px;
    }
    .conteudo-slide {
        width: 100%;
        position: absolute; 
        background: #be2a2ae7;
        animation: identifier0 1s 1.5s forwards;
        padding: 20px;
    }
    @keyframes identifier0 {
        from {
            bottom: -150px;
            opacity: 0;
        }
        to {
            bottom : 0;
            opacity: 1;
        }
    }
    .carousel-item h3 {
        animation: identifier 1s 2.2s forwards;
        font-weight: 700;
        color: #fff;
        opacity: 0;
        margin-bottom: 5px;
    }
    .carousel-item p {
        animation: identifier 1s 2.4s forwards;
        font-weight: 300;
        color: #fff;
        opacity: 0;
        line-height: 1rem;
    }

    @keyframes identifier {
        to {
            opacity: 1;
        }
    }



    /* Conteudo  */
    main {
        margin: 30px 0;
    }
    .boasVindas h1, .livro h1 {
        display: inline;
        font-weight: bold;
    }
    .boasVindas span {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1rem;
    }
    .boasVindas p {
        font-weight: 300;
    }

    .item-prog h2 {
        font-weight: bold ;
    }
    .item-prog p {
        padding-left: 20px;
    }
    .item-prog span {
        display: none;
    }
    .item-prog, .boasVindas {
        padding: 20px;
        width: 100%;
    }
    .sub {
        margin-bottom: 20px;
    }
    .line {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }





    /* Rodapé  */
    footer {
        padding-top: 10px;
        background: #be2a2a;
    }
    footer h6, footer p, footer a, footer i {
        color: #fff;
    }
    footer h3, .footer-copyright {
        font-weight: 100;
        font-size: .9rem;
        color: #fff;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }



    /* Alerta  */
    .msg {
        position: fixed;
        left: -100%;
        top: 150px;
        z-index: 999;
        width: 100%;
    }
    .msg h3 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.2rem;
    }
    .msg i {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .msg p {
        text-align: center;
    }
    .msg-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        width: 92%;
        background: #ffffff;
        margin: 0 auto;
        box-shadow: 2px 2px 5px #00000075;
    }
    .msg button {
        border: 0;
        font-size: .9rem;
        background: transparent;
    }



    /* Pagina Agenda  */
    .itens-prog {
        margin: 20px;

    }
    .itens-prog h1 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    .itens-prog p {
        padding: 8px 20px;
        margin-bottom: 2px;
    }



    /* Pagina Downloads  */
    .livro {
        display: flex;
        margin-bottom: 20px;
    }
    .livro div {
        display: flex;
        flex-direction: column;
    }
    .livro img {
        height: 80px;
        min-width: 60px;
        margin-right: 20px;
        border: 2px solid #fff;
    }
    .livro span {
        color: #777;
        font-size: .9rem;
    }
    .arquivos p {
        text-align: center;
    }




    /* Flutuante */

    .icEmail {
        z-index: 999;
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
    .icEmail a {
        background: #ffffffc7;
        border-radius: 6px;
    }
    .icEmail img {
        display: none;
        width: 35px;
    }

}








@media (min-width: 1024px) {
    main {
        margin: 50px 0;
    }
    .back {
        height: 50px;
        width: 0px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: block;
        width: 50px;
        height: 50px;
        
    }
    .item-prog, .boasVindas {
        padding: 0px;
        width: 50%;
    }
    .carousel {
        background: #f1f1f1;
    }
    .navbar {
        margin: 0 150px;
        padding: 10px 0;
    }
    .navbar-nav {
        height: auto;
    }
    .carousel-inner, .carousel-item {
        max-height: 450px;
    }
        
    .carousel-control-next, .carousel-control-prev {
        width: 15% !important;
    }
    @keyframes identifier {
        to {
            opacity: 1;
            margin-left: 90px;
        }
    }

    .boasVindas, .item-prog {
        width: 40%;
    }
    footer h3 {
        margin-bottom: 40px;
    }
    .line {
        flex-direction: row;
        margin: 0 150px;
    }
    .social {
        left: 150px;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
}