@media (min-width: 320px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none !important;
        list-style: none;
        user-select: none;
        /* box-shadow: 0 0 1px 0 #000; */
    }
    a {
        color: #222;
    }
    a:active, a:hover {
        color: #777;
    }
    header {
        background: #fff;
        z-index: 9999;
        box-shadow: 0 1px 1px 0 #00000041;
    }
    p {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 1rem;
    }
    span {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: .9rem;
        font-weight: 100;
    }
    .fas {
        line-height: 1.5 !important;
    }
    .topo, .slide-desk, .navbar-text, .sr-only, .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    .voltar {
        padding: 10px 10px 10px 0;
        margin-right: 10px;
        width: 50px;
    }
    /* NavBars  */
    header {
        background: #fff;
        z-index: 9999;
        box-shadow: 0 1px 3px 0 #00000041;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
    }
    .logo {
        max-height: 50px;
        margin-right: 10px;
    }
    .sub-logo {
        margin: 0;
    }
    .sub-logo h1 {
        font-size: 1rem;
    }
    .navbar-toggler {
        border: 0;
        padding-right: 0;
    }
    .navbar-toggler:focus {
        outline: none;
    }
    .navbar-toggler-icon {
        font-size: 1rem;
    }
    .navbar-nav {
        margin-top: 2rem;
    }
    /* Carousel  */
    .carousel-inner, .carousel-item, .carousel-item img {
        max-height: 400px;
    }
    .black {
        animation: identifier2 4s 1.5s forwards;
        background: #000;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 10% !important;
    }
    .conteudo-slide {
        width: 100%;
        position: absolute;
        top: 30%;
    }
    .carousel-item h3 {
        text-transform: uppercase;
        animation: identifier 1s 1.5s forwards;
        margin-left: -30px;
        font-size: 2.5rem !important;
        font-weight: 900;
        color: #fff;
        opacity: 0;
        text-shadow: 1px 1px 3px #00000050;
    }
    .carousel-item p {
        margin-top: -.8rem;
        margin-left: -30px;
        margin-bottom: 2.5rem;
        animation: identifier 1s 1.7s forwards;
        font-size: 1rem;
        font-weight: 300;
        color: #fff;
        width: 80%;
        opacity: 0;
        line-height: 1.5rem;
        text-shadow: 1px 1px 2px #00000080;
    }
    .carousel-item a {
        text-transform: uppercase;
        margin-left: -30px;
        opacity: 0;
        background: #be2a2a;
        color: #fff !important;
        padding: .8rem;
        border: 0;
        animation: identifier 1s 2s forwards;
        border-radius: 2px;
        box-shadow: 1px 1px 3px #00000050;
    }
    @keyframes identifier {
        to {
            opacity: 1;
            margin-left: 0px;
        }
    }
    @keyframes identifier2 {
        to {
            opacity: .4;
        }
    }


    /* Proximos Eventos  */
    .modal-prog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 1px;
    }
    .modal-prog h2 {
        font-size: 1.2rem;
        margin: 0 !important;
    }
    .modal-prog i {
        font-size: 1rem;
        margin-right: 8px;
    }
    .agenda {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
    }
    .agenda a {
        width: 100%;
        text-align: center;
    }
    /* Rodapé  */
    footer {
        padding-top: 10px;
        background: #3e6a88;
    }
    footer h6, footer p, footer a, footer i, .footer-copyright {
        color: #fff;
    }
    footer h3 {
        font-weight: 300;
        color: #fff;
        font-size: 1rem;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }
    /* Voltar para o topo  */
    .back2Top {
        width: 35px;
        overflow: hidden;
        z-index: 999;
        display: none;
        position: fixed;
        bottom: 20px;
        right: 10px;
        background: #be2a2adc;
        text-align: center;
        font-size: 30px;
        text-decoration: none;
    }
    .back2Top:hover {
        background-color: #fff7;
    }
    /* Pagina Downloads  */
    .livro {
        display: flex;
        margin-bottom: 10px;
        box-shadow: 1px 1px 3px 0 #00000020;
    }
    .livro div {
        display: flex;
        flex-direction: column;
    }
    .livro img {
        height: 120px;
        min-width: 90px;
        margin-right: 20px;
        border: 2px solid #fff;
    }
    .livro h2 {
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .livro span {
        color: #777;
        font-weight: 300;
        font-size: .8rem;
    }
    .msg {
        position: fixed;
        left: -100%;
        top: 150px;
        z-index: 9999;
        width: 100%;
    }
    .msg h3 {
        font-size: 1.1rem;
        margin-bottom: 10px;
        text-align: center;
    }
    .msg i {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .msg p {
        text-align: center;
        font-size: .9rem;
    }
    .msg-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        width: 92%;
        background: #ffffff;
        margin: 0 auto;
        box-shadow: 2px 2px 5px #00000075;
    }
    .msg button {
        border: 0;
        font-size: .9rem;
        background: transparent;
    }
    .c-programacao h3 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .c-programacao p {
        padding: 10px;
        margin: 0;
        font-size: .9rem;
        color: #222;
        padding-left: 20px;
    }
    .contato h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .contato p {
        margin: 0;
    }
    address {
        margin: 50px 0;
    }
    address a {
        padding: 10px 15px;
        border-radius: 6px;
        color: #fff !important;
        background: #be2a2a;
    }
}

@media (min-width: 1024px){
}

