@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media (min-width: 320px) {
    /* default  */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none !important;
        list-style: none;
        user-select: none;
        /* box-shadow: 0 0 1px 0 #000; */
    }

    a:active, a:hover {
        color: #777;
    }
    header {
        background: #fff;
        z-index: 999;
        box-shadow: 0 1px 1px 0 #00000041;
    }
    p, span, h1, h2, h3, h4, h5, h6, a {
        font-family: 'Raleway', sans-serif;
        color: #000;
    }
    h1, h3 {
        font-size: 1.4rem;
    }
    p {
        font-size: .9rem;
    }
    /* Header  */
    .topo, .slide-desk, .navbar-text, .carousel-control-next-icon, .carousel-control-prev-icon {
        display: none;
    }
    .social {
        z-index: 999;
        position: fixed;
        bottom: 20px;
        left: 20px;
    }
    .social a {
        background: #ffffff95;
    }
    .social img {
        display: none;
        width: 35px;
    }
    .back {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
    }
    /* NavBars  */
    header {
        background: #fff;
        z-index: 999;
        box-shadow: 0 1px 3px 0 #00000041;
    }
    .navbar-brand {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .logo {
        max-height: 50px;
    }
    .navbar {
        padding: .8rem 1.2rem;
    }
    .navbar-toggler {
        border: 0;
        padding-right: 0;
    }
    .navbar-toggler:focus {
        outline: none;
    }
    .navbar-toggler-icon {
        font-size: 1rem;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
    .navbar-nav {
        margin-top: 15px;
    }
    .nav-link {
        font-size: 1rem;
    }
    /* Carousel  */
    .carousel-inner, .carousel-item {
        max-height: 400px;
    }

    .conteudo-slide {
        width: 100%;
        position: absolute; 
        background: #be2a2ae7;
        animation: identifier0 1s 1.5s forwards;
        padding: 20px 0;
    }
    @keyframes identifier0 {
        from {
            bottom: -150px;
            opacity: 0;
        }
        to {
            bottom : 0;
            opacity: 1;
        }
    }
    .carousel-item h3 {
        animation: identifier 1s 2.2s forwards;
        font-weight: 700;
        color: #fff;
        opacity: 0;
        margin-bottom: 5px;
    }
    .carousel-item p {
        animation: identifier 1s 2.4s forwards;
        font-weight: 300;
        color: #fff;
        width: 80%;
        opacity: 0;
        line-height: 1rem;
    }

    @keyframes identifier {
        to {
            opacity: 1;
        }
    }
    /* Pagina Eventos  */
    .modal-prog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 1px;
    }
    .modal-prog h2 {
        font-weight: 700;
        font-size: 1.2rem;
    }
    .modal-prog span {
        font-weight: 300;
        font-size: .9rem;
    }
    .modal-prog i {
        font-size: 1rem;
        margin-right: 8px;
    }
    /* Eventos */
    .agenda {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .agenda a {
        width: 100%;
        text-align: center;
    }
    .agenda h3 {
        font-weight: bold;
    }
    .itens-prog p {
        font-weight: 300;
        margin-bottom: 1px !important;
    }
    .nav-link {
        display: flex;
        align-items: center;
    }

    .nav-link img {
        margin-right: 20px;
    }
    /* Rodapé  */
    footer {
        padding-top: 10px;
        background: #be2a2a;
    }
    footer h6, footer p, footer a, footer i {
        color: #fff;
    }
    footer h3, .footer-copyright {
        font-weight: 100;
        font-size: .9rem;
        color: #fff;
    }
    .flex-center {
        display: flex;
        justify-content: center;
    }

    /* Pagina Downloads  */
    .livro {
        display: flex;
        margin-bottom: 20px;
    }
    .livro div {
        display: flex;
        flex-direction: column;
    }
    .livro img {
        height: 80px;
        min-width: 60px;
        margin-right: 20px;
        border: 2px solid #fff;
    }

    .livro span {
        color: #777;
        font-size: .9rem;
    }
    .msg {
        position: fixed;
        left: -100%;
        top: 150px;
        z-index: 999;
        width: 100%;
    }
    .msg h3 {
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.2rem;
    }
    .msg i {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .msg p {
        text-align: center;
    }
    .msg-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 6px;
        width: 92%;
        background: #ffffff;
        margin: 0 auto;
        box-shadow: 2px 2px 5px #00000075;
    }
    .msg button {
        border: 0;
        font-size: .9rem;
        background: transparent;
    }
    .contato h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .contato p {
        margin: 0;
    }
    address {
        margin: 50px 0;
    }
    address a {
        padding: 10px 15px;
        border-radius: 6px;
        color: #fff !important;
        background: #be2a2a;
    }
    .saudacoes h1, .livro h1 {
        display: inline;
        font-weight: bold;
    }
    .saudacoes span {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1rem;
    }
    .saudacoes p {
        font-weight: 300;
        margin-top: 20px;
    }

    .itens-prog h1 {
        font-weight: bold;
    }

}

@media (min-width: 1024px) {

    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: block;
        width: 50px;
        height: 50px;
        
    }
    .carousel {
        background: #f1f1f1;
    }
    main, .navbar {
        max-width: 1200px;
        margin: 0 auto;
    }
    .navbar-nav {
        height: auto;
    }
    .carousel-inner, .carousel-item {
        max-height: 400px;
    }
        
    .carousel-control-next, .carousel-control-prev {
        width: 15% !important;
    }
    @keyframes identifier {
        to {
            opacity: 1;
            margin-left: 90px;
        }
    }
    .logo {
        margin-right: 30px;
    }
    footer h3 {
        margin-bottom: 50px;
    }

}